<html>
    <head>
        <title>
           <%= title %>
        </title>
       <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>

        <div id="outer-container">
              <p id="main-heading">TODO App</p>
              <form action="/get-data" method="POST">
               <div id="description-container">
                   <p id="desp-head">DESCRIPTION</p>
                   <input  id="desp-box" type="text" name="desp" placeholder="What needs to be done?"> 
               </div>

              </form>
        </div>
        
    </body>
</html>